<section>
    <% @animes.each do |anime| %>
        <div class="flex mb-3">
            <% if anime.poster.attached?%>
                <%= anime.poster%>
            <% else %>
                <div class="bg-gray-300 w-24 h-48 mr-8"></div>
            <% end %>
            <div>
                <%= link_to anime do%>
                    <p class="text-xl font-medium"><%= anime.title%></p>
                <% end %>
            </div>
        </div>
    <% end %>
</section>  
